.paginate {
    padding: 10px 0;
}
.paginate span {
    margin-left: 5px;
    border: 1px solid gray;
    padding: 5px;
    cursor: pointer;
}
.selected {
    background: blue;
}
.items {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.item {
    width: 32%;
    box-sizing: border-box;
    display: flex;
    padding: 5px;
    margin: 5px;
    box-shadow: 2px 2px 3px 1px gray;
}
.item:hover {
    background: azure;
}