.app-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-rows: 60px 10fr 2fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
    "header header"
    "nav content"
    "footer footer";
}

.app-content {
  grid-area: content;
  border: 1px solid gray;
}
.footer {
  grid-area: footer;
  border: 1px solid gray;
}
